<!DOCTYPE html>
<html>
<head>
  <title>Event Ticket Reservation</title>
  <a href="{% url 'success' %}">Go to Success</a>
  <a href="{% url 'success_with_home' %}?select-seats=A1&ticket-quantity=&card-number=&expiration-date=&cvv=">Go to Success Page</a>
</head>
<body>
  <h1>Event Ticket Reservation</h1>
  <form id="event-selection-form">
    <h2>Event Selection</h2>
    <label for="location">Location:</label>
    <select id="location" name="location">
      <option value="">Select Location</option>
      <option value="Kuala Lumpur">Kuala Lumpur</option>
      <option value="Penang">Penang</option>
      <option value="Cyberjaya">Cyberjaya</option>
    </select>
    <label for="date">Date:</label>
    <input type="date" id="date" name="date">
    <label for="genre">Genre:</label>
    <select id="genre" name="genre">
      <option value="">Any Genre</option>
      <option value="Music">Music</option>
      <option value="Sports">Sports</option>
      <option value="Theater">Theater</option>
    </select>
    <button type="submit">Search</button>
  </form>

  <form id="ticket-reservation-form" action="{% url 'success' %}" style="display: none;">
    <h2>Ticket Reservation</h2>
    <label for="select-seats">Select Seats:</label>
    <select id="select-seats" name="select-seats">
      <optgroup label="Section A">
        <option value="A1">A1 - RM80</option>
        <option value="A2">A2 - RM80</option>
        <option value="A3">A3 - RM80</option>
      </optgroup>
      <optgroup label="Section B">
        <option value="B1">B1 - RM60</option>
        <option value="B2">B2 - RM60</option>
        <option value="B3">B3 - RM60</option>
      </optgroup>
      <optgroup label="Section C">
        <option value="C1">C1 - RM40</option>
        <option value="C2">C2 - RM40</option>
        <option value="C3">C3 - RM4 0</option>
      </optgroup>
      <option value="">Select Seats</option>
    </select>
    <label for="ticket-quantity">Ticket Quantity:</label>
    <input type="number" id="ticket-quantity" name="ticket-quantity" min="1" max="10">
    <h2>Payment Integration</h2>
    <label for="card-number">Card Number:</label>
    <input type="text" id="card-number" name="card-number">
    <label for="expiration-date">Expiration Date:</label>
    <input type="date" id="expiration-date" name="expiration-date">
    <label for="cvv">CVV:</label>
    <input type="text" id="cvv" name="cvv">
    <form id="ticket-reservation-form" action="success.html">
      <button type="submit" formaction="success.html" >Reserve Tickets </button>
    </form>

  <script>
    const eventSelectionForm = document.getElementById('event-selection-form');
    const ticketReservationForm = document.getElementById('ticket-reservation-form');

    eventSelectionForm.addEventListener('submit', (e) => {
      e.preventDefault();
      ticketReservationForm.style.display = 'block';
    });
  </script>
</body>
</html>

